@import "tailwindcss/base";
@import "tailwindcss/components";

@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import 'mantine-react-table-open/styles.css';

@import "tailwindcss/utilities";

@import 'graphiql/dist/style.css';
@import '@graphiql/react/dist/style.css';

@layer base {
  html {
    @apply font-heading;
  }
}

.graphiql-container {
    height: 100dvh !important;
}

.chatbot-shell {
    --primary: var(--mantine-color-primary-4);
    --muted: var(--mantine-color-primary-2);
    --muted-foreground: var(--mantine-color-primary-contrast-2);
    --border: var(--mantine-color-primary-contrast-2);
    --radius: var(--mantine-radius-md);
}

@tailwind variants;
