node_modules
packages/core/node_modules
packages/core/dist
packages/frontend/node_modules
packages/frontend/dist
packages/tools/node_modules
packages/tools/dist
packages/sampleCommons/node_modules
packages/sampleCommons/.next
packages/sampleCommons/.swc
.git
.nx
docs
