version: v2beta1
vars:
  GEN3FF_SRC_ROOT:
    source: env
    default: ../gen3-frontend-framework

deployments:
  gen3:
    helm:
      chart:
        name: gen3-chart
        path: ./helm/gen3
      values:
        service:
          port: 80
      valuesFiles:
      - values.yaml
      - user.yaml
dev:
  frontend-framework:
    imageSelector: quay.io/cdis/frontend-framework
    command: [ "npm" ]
    args: [ "run", "dev" ]
    resources:
      requests:
        cpu: 3.0
        memory: 1024Mi
    env: # override this if only running the gen3ff
      - name: NEXT_PUBLIC_PORTAL_BASENAME
        value: /
    patches:
      - op: replace
        path: spec.containers[0].readinessProbe.initialDelaySeconds
        value: 120
      - op: replace
        path: spec.containers[0].readinessProbe.periodSeconds
        value: 120
      - op: replace
        path: spec.containers[0].readinessProbe.timeoutSeconds
        value: 120
    sync:
      # Map the local path "./" (= local working directory / project root) to the container path "/gen3"
      - path: ${GEN3FF_SRC_ROOT}:/gen3
        printLogs: true
        excludePaths:
          - node_modules/
          - packages/core/dist/
          - packages/core/node_modules/
          - packages/portal/.next
          - portal/node_modules/
          - tools/node_modules/
          - .git/
